body {
  background-color: black;
  color:white;
  text-align: center;
  margin: auto;
}


/* up */
.face {
  position: absolute;
  top: 5px;
  width: 30px;
}

.timer {
  background-color: red;
  margin: 5px;
  font-size: xx-large;
  top: 10px;
  position: fixed;
  right: 10px;
}

.manually{
  margin: 5px;
  top: 10px;
  position: fixed;
  left: 10px;
}

.play{
  display: none;
  margin: 5px;
  top: 10px;
  position: fixed;
  left: 125px;
}

.additional-data{
  display: none;
  margin: 20px;
  text-align: left;
  position: absolute;
  left: 10px;
  top: 40px;
}

.game-buttons{
  margin-top: 50px;
  right: 35%;
}

img {
  max-width: 100%;  
  max-height: 100%;
}

.bestPlayer{
  margin-top: 40px;
  margin-left: 25px;
}

.bestPlayer tr{
  display: none;
}

/* table */
table.game{
  background-color: rgb(185, 185, 185);
  table-layout:fixed;
  width: 300px; 
  border-spacing: 0;
  position: absolute;
  left: 37.5%;
  top: 20%;
}

.cell {
  text-align: center;
  transition: 0.5s;
}

.cell:hover {
  background-color: rgb(116, 126, 129);
}


/* down */
.underGame{
  /* display: none; */
  position: absolute;
  right: 37.5%;
  bottom: 70px;
}

.footer {
  position: fixed;
  left: 0px;
  bottom: 0px;
  width: 100%;
  color: white;
  text-align: center;
}