body {
  background-color: black;
  color: white;
  text-align: center;
  margin: auto;
}

img {
  max-width: 100%;
}

/* up */

header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;

  margin: 20px;
}

.manually-create {
  display: flex;
  gap: 10px;
  width: 36px;
}

.manually-create-play {
  display: none;
}

.game-btns {
  display: flex;
  flex-direction: column;
}

.face img {
  width: 30px;
  margin-bottom: 10px;
}

nav {
  position: absolute;
  left: 0;
  margin-inline-start: 10px;
}

.additional-data {
  display: none;
  flex-direction: column;
  align-items: flex-start;
  margin-inline-start: 5px;
}

.best-player {
  margin-top: 20px;
}

.best-player tr {
  display: none;
}

/* board-game */
table.game {
  background-color: rgb(185, 185, 185);
  table-layout: fixed;
  width: 300px;
  border-spacing: 0;
  position: absolute;
  left: 37.5%;
  top: 20%;
}

.cell {
  text-align: center;
  transition: 0.5s;
}

.cell:hover {
  background-color: rgb(116, 126, 129);
}

/* down */
.underGame {
  /* display: none; */
  position: absolute;
  right: 37.5%;
  bottom: 70px;
}

footer {
  position: fixed;
  left: 0px;
  bottom: 0px;
  width: 100%;
  color: white;
  text-align: center;
}
